<% content_for :title do %>
    <%= t('.dashboard') %>
<% end %>
<div class="note note-info">
    <h1 class="page-title"> ĐỒ ÁN MÔN HỌC 3
        <br><small>Đề tài: Xây dựng website có hỗ trợ đặt bàn cho nhà hàng, quán ăn</small>
    </h1>
    <h2 class="page-title"> Sinh viên: NGUYỄN TÔN HÙNG
    </h2>
    <h2 class="page-title"> MSSV: 1 6 3 3 5 1 4
    </h2>
</div>